.page {
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
    max-width: 900px;
}

/* Font styling */
.title {
    font-family: "nimbus-sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.skills {
    font-family: "nimbus-sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #809188;
    text-transform: uppercase
}

.description {
    font-family: "nimbus-sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 2px;
}

/* Product and Process Card */
.productCard, .processCard {
    text-align: left;
    margin: 25px;
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.processCard {
    padding-top: 50px;
}

.heroImg, .img1 {
    max-width: 600px;
    padding: 20px 10px 0px 10px;
}

.content {
    max-width: 450px;
    padding-right: 10px;
    align-self: center;
}

.processContent {
    max-width: 450px;
    padding-right: 10px;
    align-self: flex-end;
}

.secondaryImg {
    margin-right: 25px;
    margin-left: 15px;
    padding: 35px 0px;
}

.secondaryImg img {
    text-align: center;
    max-width: 100%;
}

/* Image Set */
.imgSet {
    padding: 35px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    flex: 50%;
    padding: 5px;
    align-self: center;
    max-width: 600px;
}