/* font-family: "nimbus-sans", sans-serif;
font-weight: 300; font-weight: 400; font-weight: 700; */

/* font-family: "miller-banner", serif; font-family: "miller-banner-condensed", sans-serif;
font-weight: 300; font-weight: 400; font-weight: 600; font-weight: 700; */

html {
    background: #f7f7f5;
}

.page {
    width: 100%;
    margin: auto;
}

/* Header */
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin: 0px 25px;
}

/* Navigation */
ul {
    list-style-type: none;
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding-top: 45px;
    padding-left: 0;
}

li {
    display: inline;
    padding: 0px 10px;
}

/* Card Div */
.collection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Heading Text */
h1 {
    font-family: "miller-banner", serif;
    font-weight: 400;
    font-size: 5.5rem;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}