.page {
    width: 100%;
    margin: auto;
}

/* Heading Text */
h1, h2, th, tr {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 6rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 2.5rem;
    padding-bottom: 54px;
    margin-top: .5rem;
    color: #7e7e7e;
}

th {
    color: black;
    padding: 16px;
    font-size: 1.25rem;
    font-weight: 900;
}

td.project-title {
    color: black;
    padding: 16px;
    font-size: 1.25rem;
    font-weight: 900;
}

td.project-type {
    color: #7e7e7e;
    padding: 16px;
    font-size: 1.25rem;
    font-weight: 900;
}

/* Table Content */
.project-table {
    width: 100%;
    border-top: 1px solid black;
    border-collapse: collapse;
}

.project-table thead, .project-table tr {
    border-bottom: 1px solid black;
}

.project-table td, .project-table th {
    border: 1px solid black;
    text-align: center;
}

.project-table img {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 16px;
}