.projectCard {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #2b3c33;
    padding: 25px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: #f7f7f5;
    transition: 0.3s;
}

.projectCard:hover {
    border-radius: 10px;
    background-color: #d6dbd8;
}

.cardTitle a:hover {
    color: #2b3c33;
}

.cardTitle {
    font-family: "nimbus-sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.cardType {
    font-family: "nimbus-sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #809188;
    /* padding-left: 2px; */
    padding-top: 10px;
}

.cardDescription {
    font-family: "nimbus-sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

.cardImg img {
    width: 100%;
    max-width: 50%;
    border-radius: 10px;
}